




header{
  color: darkgreen;
  font-size: 24;
  font-family: Ariel;

}


body{
	background-size: stretch;
  background-image: fixed;

}


h1,h2,h3,h4,h5,h6 {
  font-family: verdana;
  font-size: ;
  color: black;
  text-align: left;
}

ul {
  float: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: indigo;
  
}


.active {
  background-color: #4CAF50;
}


footer{
  background-color: black;
  background-size: 30px;
  font-size: 12;
  color: gold;

}